*{
    box-sizing:border-box;
    padding:0;
    margin: 0;

}

.gridcontainer {
display: grid;
grid-template-columns: auto auto auto;
font-size: 35px;
font-weight: bold;
margin: 10px;


}
.gridcontainer div{
    padding: 10px 10px;
    border: 7px solid black;
    gap: 10px;

}
.item1{
background: darkblue;

}
.item2 {
background: darkcyan;



}

.item3{
background: darkgoldenrod;


}
.item4{
background: darkgray;


}
.item5{
background: darkgreen;
grid-column: 2;
grid-row: 2 / span 2 ;



}
.item6{
background:darkkhaki;




}
.item7{
background: darkmagenta;


}
.item8{
background: rgb(139, 51, 0);
grid-column: 1;
grid-row: 3 / span 2;


}
.item9{
background:darkred;
grid-column: 2 / span 2;

}